[2016-11-10 08:34] SanderDevisscher opened #5 "Guess projection error"
When executing a guess projection I get the following error:

Error in .check_names_df(x, i) : object 'X' not found
Called from: .check_names_df(x, i)
dit krijg ik dan als callback
function (x, j)
{
 if (is.character(j) && any(wrong <- !j %in% names(x))) {
   names <- j[wrong]
   stop(sprintf("undefined columns: %s", paste(names, collapse = ", ")))
 }
}

[2016-11-10 08:56] stijnvanhoey commented on #5
Make sure you provide the column names of the coordinates as a string (set of characters), e.g. `"my_x_coordinate_column"`
For example:

[code]

[2016-11-10 10:01] stijnvanhoey commented on #5
If you get the updated code, you will have an improved check for the inputs available, thanks to Thierry

[2016-11-10 10:01] #5 closed

[2017-12-01 15:25] stijnvanhoey opened #14 "provide proper docs on how to add new functions"
In short:
* write function + roxygen docs
* devtools::document() to update NAMESPACE and docs
* R CMD CHECK
* update `_pgkdown` adding the main function to proper category

[2017-12-05 14:57] peterdesmet opened #19 "Create function to query INBO gisservices"
## Use case

for publishing occurrence records, we sometimes have the IFBL or UTM code and want to retrieve the centroid coordinates of those squares. Would be nice if can do this using the reference layers provided via http://gisservices.inbo.be/arcgis/rest/services (rather than some file).

Would like to have:

* a function to get the data from the datasets provided at http://gisservices.inbo.be

[2017-12-05 15:13] ThierryO commented on #19
centroids from UTM should be easy. You only need to know the UTM zone, the grid cell size, some string manipulation and simple math. The conventions of the codes are easy.

I don't have much experience with IFBL but IMHO is can be as straightforward as the UTM solution.

In case a generic solutions required, then a small C++ library seems more relevant than a REST API.

[2017-12-05 17:19] stijnvanhoey commented on #19
??

The REST API, WMS, WFS are already there. What would be the functionality of the `small C++ library`?

[2017-12-06 08:53] ThierryO commented on #19
You probably need as much code to talk to the API as you would need to do the calculation in R (or python). And the API requires to transfer the data while native code doesn't.
The C++ library is only relevant in case you want to have a single code base to be used in several languages (R, Python, ...).

[2017-12-06 11:02] stijnvanhoey commented on #19
Maybe better to split the two questions from Peter.

1. Using existing **web services** from INBO to read GIS data with R

The code actually exists... It is [GDAL](http://www.gdal.org/)!  :-)

[code]
output  `ogrinfo`:
[code]

Downloading data is provided by `ogr2ogr`:
[code]
![image](https://user-images.githubusercontent.com/754862/33658254-5374797e-da7c-11e7-878b-94306cf09a96.png)

[code]
![imag

[2017-12-06 13:19] stijnvanhoey commented on #19
Considering the rather strange turned result of the UTM-grid in the first image, @jeroendereu, could you maybe provide some more info about the [WFS handling](http://gisservices.inbo.be/arcgis/services/UTMhokken/MapServer/WFSServer?request=GetCapabilities&service=WFS), more specifically how this could result in the strange behavior?

When I check the individual features, the `Name` versus `wfs:Def

[2017-12-06 15:08] stijnvanhoey commented on #19
Apparently (thanks @Roel) this is related to the type of identifier that is used to specify the projection which has an effect on the way the sequence of axis (`YX` vs `XY`) needs to be handled (and GDAL handles it).

Information is there online, e.g.
* https://github.com/deegree/deegree3/wiki/Axis-order-handling
* http://docs.geoserver.org/stable/en/user/services/wfs/basics.html#wfs-basics-axis
*

[2017-12-06 15:39] stijnvanhoey commented on #19
@milotictanja, the `ggplot` version of the plot as well ;-)
(*remark*: this has indeed nothing to do with the YX/XY issue above, but just an illustration and reminder we should add the `prepare_spatial_for_ggplot` function to the package)

[code]
![image](https://user-images.githubusercontent.com/754862/33669926-08383d24-daa4-11e7-950d-12934457848b.png)

[2018-03-26 12:32] stijnvanhoey opened #27 "need to check division factor on read_knmi"
[For now](https://github.com/inbo/inborutils/blob/master/R/read_knmi_rainfall.R#L75), incoming values are divided by 10. Need to check if this is correct.

[2018-03-26 14:34] stijnvanhoey commented on #27
is ok; acual data is in `0.1mm`, closing here

[2018-03-26 14:34] #27 closed

[2018-06-07 09:13] DimEvil opened #28 "bug in request_species_information"
request_species_information generates many warnings on unequal factor levels and makes R hang

'Unequal factor levels: coercing to characterbinding character and factor vector, coercing into character vectorbinding character and factor vector, coercing into character vectorUnequal factor levels: coercing to characterbinding character and factor vector, coercing into character vectorbinding charact

[2018-06-07 09:18] stijnvanhoey commented on #28
Fixed by 1c8ff5da364affd900df7818497521102c97a723

[2018-10-18 13:05] damianooldoni opened #34 "Add examples to documentation of all functions"
As I see efforts are taken to make this repository as documented as possible (https://github.com/inbo/inborutils/pull/33), I suggest to add examples in Roxygen documentation to as many functions as possible. Personally I use examples in documentation a lot, so I find them a nice-to-have section. We did it for the last function, `csv_to_sqlite()`. Why not doing it gradually for all the other ones?

[2018-10-19 09:24] ThierryO commented on #34
Good idea. Try to make tiny examples that take only a split second to run, as all examples are run during R CMD Check. If the examples really need some time, then wrap them in a `\dontrun{}`. In that case R CMD Check will ignore them.

[2018-10-28 21:49] damianooldoni commented on #34
Thanks @ThierryO for your tips. I will do it via branch and PR.

[2019-01-08 20:10] damianooldoni opened #37 "Add text datafiles for testing/examples of some functions"
While working on #34, I found that no working examples can be written for some functions because no input datafiles are present in `./data/`. The functions are the following:
1. `read_mow_data()`
2. `read_kmi_data()`
3. `read_kml_file()`

[2019-01-08 20:10] damianooldoni opened #38 "Error while using read_knmi_rainfall()"
Contrarely to #37 I could create a text file for function `read_knmi_rainfall` as I found file `rain_knmi_2012.Rda`. However, after converting it in a semicolon separated text file, the function seems not recognizing it as a valid file. I get the following error:

[code]

After watching a little inside the function `read_knmi_rainfall()`, I think the file is not the right one.
@stijnvanhoey: do yo

[2019-01-08 20:12] damianooldoni opened #39 "Improve function names for consistency reason"
This package contains some very useful functions to read datafiles from KMI, KNMI, Google (MOW data)...

I notice that the functions could be more consistently named. The functions are named as follows:

1. `read_kmi_data()`
2. `read_kml_file()`
3. `read_mow_data()`
4. `read_knmi_rainfall()`

An idea: what if we rename them by using the suffix `_file` for all functions?

1. `read_kmi_file()`
2. `r

[2019-01-09 08:38] peterdesmet commented on #39
I like consistency! But we could maybe even drop the `_file` (cf. `read_csv`):

1. `read_kmi()`
2. `read_kml()`
3. `read_mow()`
4. `read_knmi()` (unless we expect read functions for other data than`rainfall`)

[2019-01-09 10:25] stijnvanhoey commented on #39
Good point! Certainly ok with dropping the `file`.

With respect to knmi data, I'm not really sure if is would be more beneficial to provide a single function for all types of variables or rather split them, but as we currently only support rainfall, we can as well drop it.

[2019-01-09 13:14] florisvdh commented on #39
I believe that KNMI also distributes evapotranspiration measurement data. These are crucial input in geohydrological analyses, beside precipitation measurements. But maybe you cover that already in the same function? If not, best to distinguish both.

You should speak about 'precipitation' instead of 'rainfall' - hey that's longer! - because that's what is covered. Snow, hail, you name it.

[2019-01-16 13:56] stijnvanhoey commented on #39
I just checked, there is a specific difference between `read_kml` and the others. `kml` is actually refering to the file format `kml`, whereas the others are mentioning the data provider (organisation, e.g. kmi, knmi, mow,...) the data is coming from. As such, the difference between `_data` and `file` was made deliberately.

Still, to be consistent: `read_knmi_rainfall` should be `read_knmi_data`

[2019-01-16 14:28] stijnvanhoey commented on #38
As you used a text-converted version of the 'cleaned' data from knmi, this is not the same as the text format as provided by KNMI itself:

[code]
The function actually aims to make the reading of this *special* data format easier. The example on how to download and read the KNMI data is explained in the vignette. I added an additional reference to the vignettes inside the roxygen docs to help the

[2019-01-16 14:32] stijnvanhoey commented on #37
We have a bit of an issue by requiring raw text-files as input of the examples inside roxygen headers. As far as I know (and [stackoverflow](https://stackoverflow.com/questions/12391195/include-data-examples-in-developing-r-packages), cfr. we can not use the `rda` concept here, because the concept is actually to show the reading of text-files).

Hence, the information is compiled inside a vignette

[2019-01-16 14:32] #37 closed

[2019-02-18 16:56] florisvdh commented on #19
I have two points to add regarding this interesting thread:

1. http://gisservices.inbo.be/arcgis/rest/services returns error 403: 'Services Directory has been disabled.' So is there another way of seeing which layers are available as WFS?
1. a potential problem for long-term reproducibility, depending on the use case, is that the data behind WFS-pointers may evolve. Is this the case for the INBO

[2019-02-18 16:59] florisvdh opened #41 "Gh-pages contain tutorials"
I suggest to link these tutorials from the [INBO tutorials website](https://inbo.github.io/tutorials/), or migrate them.

[2019-03-14 18:15] damianooldoni opened #42 "csv_to_sqlite: bug with cols_only() as value of parameter col_types"
I am using this function with optional parameter `col_types = cols_only(...)`.
Unfortunately it seems that the read_delim_chunk callback doesn't read the desired columns but just the first n columns where n is the number of columns in `cols_only()`.

Here below a microexample using `mtcars`:

[code]

As you could see the first 10 (`pre_process_size` value) rows of `gear` are ok as they come from t

[2019-03-14 21:10] stijnvanhoey commented on #42
What I can tell after a first quick check: the callback itself is not the issue, as what the callback receives is already the subset of first n columns. I also tested with an alternative callback function `f <- function(x, pos) print(x)` and and that just prints out for each chunk the first n columns as well. So, the error is somewhere how `read_delim_chunked` handles internally the `cols_only` ar

[2019-05-16 13:35] florisvdh opened #46 "Groundwater functions"
Would it make sense to add the below (yet to be made) functions to `inborutils`, related to filtering groundwater data (with focus on Watina)?

An alternative is to put them in a separate package, so what is the advice here?

Current ideas regarding functions (be welcome and suggest improvements):

- concerning XG3 data:
  - `groundw_read_xg3()`: connects to database, reads necessary tables and re

[2019-05-16 13:43] maudraman commented on #46
Yes I think it makes sense. According to me it is important to make good agreements about the position of these functions in order to find them easily.
If there's a clear link with N2000 then it should be in the N2kutils. If not, it should be situated in a more groundwater related map in inboutils?

[2019-05-16 14:44] ThierryO commented on #46
Consider creating a dedicated package if it either requires Watina to work or can be used more generic by others handling similar data.

[2019-05-20 15:59] florisvdh commented on #46
OK, I suggest to put these functions in a new R-package '`watina`'.

[2019-05-20 17:00] stijnvanhoey commented on #46
With having the connect to inbo database function (see https://github.com/inbo/inborutils/pull/47) available  and currently only having 4 to 5 new functions in scope, I would opt for including them into the inborutils package and provide a consistent naming, e.g. `watina_*` . It will them group together by name  when using  `inborutils` + `TAB`.

Later migration towards a separate package is still

[2019-05-20 17:41] peterdesmet commented on #46
I agree with Stijn to keep in inborutils.

[2019-05-21 07:36] ThierryO commented on #46
Keeping this in inborutils has several downsides
- Smaller, dedicated packages are easier to maintain
- You have a long list of unneeded dependencies
- inborutils will be upgraded without changes to the watina function. A dedicated watina package makes it easier to document with version of the code is used (the version number will only change when watina functions change).

[2019-05-21 09:45] stijnvanhoey commented on #46
All valid and correct __technical__ points, but make sure there is someone to actually write those functions _now_ and maintain those package(s) _in the future_. So, from a __practical/organisational__ point of view (and context of INBO), it could(!) be easier to have the `inborutils` as main effort instead of keeping a variety of very small packages consistent in setup/....

That said, just go fo

[2019-07-02 11:27] florisvdh commented on #46
Closing this issue, as a package `watina` is [under development](https://github.com/inbo/watina/pull/3).

[2019-07-02 11:27] #46 closed

[2019-07-03 07:41] ThierryO opened #51 "Use the @family tag in Roxygen documentation"
Tag similar functions with `#' @family keyword`. This will automatically add a `seealso` section in the helpfiles. And you can use `has_concept("keyword")` in the `pkgdown.yml`. Which would make the pkgdown website easier to maintain.

For an example see https://github.com/ropensci/git2rdata/blob/master/_pkgdown.yml and https://github.com/ropensci/git2rdata/blob/master/R/write_vc.R

[2019-07-23 13:30] florisvdh opened #54 "Release maintenance"
The latest release dates from 9 Dec 2017, while much work has since been done.

I suggest to (more often) release a new version which can then be added to the [INBO drat repo](https://inbo.github.io/drat/), which is set as a repo in the R installations at INBO (@ThierryO), see `getOption("repos")`. This practice would prevent installation of the old version of `inborutils` when a user just runs `i

[2019-07-24 14:13] peterdesmet opened #55 "Article links do not work on pkgdown website"
Reported by @hansvancalster, articles/tutorials referenced in navbar lead to 404:

- https://inbo.github.io/inborutils/articles/guess_projection.html
- https://inbo.github.io/inborutils/articles/reference/articles/gbif_name_match.html
- https://inbo.github.io/inborutils/articles/reference/articles/articles/data_loaders_examples.html

[2019-07-24 15:27] peterdesmet commented on #55
Fixed with cac059fbef2709448ef08454dbb68f8484bf138e (see https://travis-ci.community/t/deployment-of-pages-with-r-travis-fails-with-pkgdown-when-vignettes-includes-the-current-package/2048/2 for details)

I've also used the default navbar + article section in `_pkgdown.yml`: 9a0388c501cada9be4543a9798ca5f6ba0e86a82 + added URL and issues URL: 3ab521ff53c688b2a2e3a3f0e2d3a88910e2780d

[2019-07-24 15:27] #55 closed

[2019-07-24 15:36] peterdesmet commented on #54
For versioning I would follow http://r-pkgs.had.co.nz/description.html#version. We have been using it for bioRad and it works really well. Here's the conclusion (especially for pull requests): https://github.com/adokter/bioRad/issues/149#issuecomment-424757618

Basically:

- Release often to master (but make sure checks pass) and use dev version number: `0.1.0.9xxx` with `xxx` the pull request num

[2019-07-25 05:34] hansvancalster commented on #55
:+1:  Thanks for fixing this!

[2019-07-25 06:18] hansvancalster commented on #54
I agree, that is a very good way of versioning. I have one pending PR #53 that I would like to see merged before we bump to `0.1.0` (probably today).  I am happy to do what's needed for the version numbering after the merge (but not sure if I have the rights to do so).

[2019-07-25 06:50] peterdesmet commented on #54
👍 Version updates can be done in DESCRIPTION. If you don’t have the rights (and even if you do), you can do a pull request.

The next PR (with new functionality) should update the version to 0.1.0.9xxx

[2019-07-25 07:51] florisvdh commented on #54
@peterdesmet thanks for providing an elaborated standard for this. Great idea to integrate the PR numbers into 9xxx, I'll implement it elsewhere. Maybe you can make a PR on this way of [versioning in the next](https://r-pkgs.org/description.html#version) R-packages book?

When releasing a new version, I think one should also add an extra commit to start the next _dev_ version `x.y.z.9000`, in orde

[2019-07-25 11:31] peterdesmet opened #58 "Update package maintainer"
See https://github.com/inbo/inborutils/pull/56#issuecomment-514967714:

[2019-07-25 11:32] peterdesmet commented on #58
@damianooldoni and I would prefer that the maintainer of this package is someone from @inbo/bmk.

[2019-07-25 11:33] peterdesmet commented on #54
Version number has been updated: what PR do we still want to include in `0.1.0`?

[2019-07-25 11:48] hansvancalster commented on #54
I think PR #57 is ready and can also go into `0.1.0`. Or as @damianooldoni suggested `0.1.1`.

[2019-07-25 11:49] peterdesmet commented on #54
Ok, that one is now merged. Note that we do not use patch updates, so it stays at `0.1.0` for now. Any other PRs that need to be merged in this version?

[2019-07-25 11:50] hansvancalster commented on #58
OK, I will do it.

[2019-07-25 11:52] peterdesmet commented on #58
:+1: you can update the description. Fine for me if this is done for `0.1.0`

[2019-07-25 12:05] florisvdh commented on #54
@peterdesmet please clarify: do you mean that several commits will carry version number `0.1.0` in `DESCRIPTION`?

- should the next commits building onto master not use `0.1.0.9000` now? That would comply with going to `0.1.1` at some point in the future (which is not necessarily the next PR merge).
- or do you mean that PR #57 will still carry `0.0.1.9xxx`? That would lead to demoting master's v

[2019-07-25 12:13] #58 closed

[2019-07-25 12:18] peterdesmet commented on #54
Yes, but since we're still starting, **I wanted to know if there is still something we want to include in stable `0.1.0`**? If not, we can bump to `0.1.0.9xxx` for the next PR.

Normally, we will never go to `0.1.1` (that would be an urgent hotfix), but to `0.2.0`

[2019-07-25 12:25] florisvdh commented on #54
I see, thanks. I think in the ideal situation only one commit carries a `0.1.0` number in `DESCRIPTION` so no confusion can arise about which is the stable version. We can of course add tag + release to solve that.

[2019-07-25 12:26] florisvdh commented on #54
@peterdesmet I leave it to you whether you still want to review #50 for `0.1.0`, you can choose.

[2019-07-25 12:35] peterdesmet commented on #54
I agree, that's the ideal situation.

No, I don't have time to review that one, so I'll lock version 0.1.0 at the current commit.

[2019-07-25 12:40] peterdesmet commented on #54
Version released: https://github.com/inbo/inborutils/releases/tag/v0.1.0

Version bumped to dev: https://github.com/inbo/inborutils/commit/21bf66a27925e6600df13c4e8a51cb4fed639a7c

[2019-07-25 12:40] #54 closed

[2019-07-26 09:17] florisvdh commented on #54
On second thought, I think the guideline of inserting the PR number in the version number needs tweaking. The following case needs attention: when a PR is merged after another PR was already merged with a _higher_ number, it would lead to demoting the version number, which cannot be the purpose. E.g. it would bump a version `0.1.0.9061` to `0.1.0.9060`.

[2019-07-26 09:38] peterdesmet commented on #54
That is correct, not sure how to fix that, but it's also bad practice to leave PR open for long. We currently have 4.

[2019-07-26 11:28] peterdesmet commented on #58
Done in #59

[2019-07-31 09:46] florisvdh opened #60 "Add download_zenodo()"
@hansvancalster IMO the amazing `filemanag_zenodo()` function that you wrote earlier in the [n2khab](https://github.com/inbo/n2khab) package is not confined to n2khab-context and would probably fit better in `inborutils` as a `download_zenodo()` function that can serve any use case :wink:. It can then still be used by, or imported into `n2khab`.

Do you agree? Can you move the function out of `n2k

[2019-07-31 09:51] peterdesmet commented on #60
Good suggestion @florisvdh

[2019-08-19 12:34] hansvancalster commented on #60
I agree and opened PR #63. Closing this issue.

[2019-08-19 12:34] #60 closed

[2019-08-19 12:38] hansvancalster commented on #51
Good idea. I suggest we start using this approach each time a new function is added.
For the functions that are already part of the package I will make a separate PR.

[2020-01-28 15:09] damianooldoni commented on #39
This issue has been solved by #40

[2020-01-28 15:09] #39 closed

[2020-01-28 15:44] damianooldoni opened #71 "Make a package out of download_zenodo() and publish it under rOpenSci"
The function `download_zenodo()` seems something very interesting and it can have a very broad audience.
While following the discussion in https://github.com/inbo/inborutils/pull/69, I am happy to see that this function is getting more and more complete but also complex (= more dependencies).
Broad scope + completeness + complexity = package :package:

Especially if I see that there is a package c

[2020-01-28 17:06] peterdesmet commented on #71
I would be all for that. We could even reach out to rOpenSci to see if we can take over pkg maintenance.

[2020-01-29 07:31] florisvdh commented on #71
I fully agree. Would love not to have to depend on `inborutils` in more focused packages ;-)

I believe complexity is an unavoidable downside of collecting various different functions in one package (`inborutils`) - which however should be seen as its 'purpose' somehow: a collection of small new ideas. (Is also a reason why I'm not that worried about having extra dependencies in `inborutils` @Thie

[2020-01-29 11:01] hansvancalster commented on #71
I ran a search and found [zen4R](https://github.com/eblondel/zen4R) to be interesting as well.  Both [zen4R](https://github.com/eblondel/zen4R) and [zenodo](https://github.com/karthik/zenodo) provide functionalities that interact with the [Zenodo REST API](https://developers.zenodo.org/?python#rest-api). The function `download_zenodo()` on the other hand does not do that. It just downloads the dat

[2020-01-29 11:18] florisvdh commented on #71
It seems that `zen4R` is more recent and has more functionality; it could also be a good candidate for the function. It seems not to be published at rOpenSci.

I think we should reach out to the developers of both packages and to rOpenSci to initiate that discussion (could be done from and in this thread).

[2020-02-17 17:56] peterdesmet opened #73 "Fix travis builds"
See https://github.com/inbo/inborutils/pull/72#issuecomment-587054024, build failed at https://travis-ci.org/inbo/inborutils/builds/651547194:

[2020-02-17 17:57] peterdesmet commented on #73
Stijn was removed as collaborator, so build using his token could nog push. Now updated to travis-ci.com and a GITHUB_TOKEN in my name. Getting a new build error.

[2020-02-17 17:59] peterdesmet commented on #73
If I do a local `devtools::check(document = FALSE)` I get 4 failed tests @hansvancalster @damianooldoni:

[code]

[2020-02-17 19:30] peterdesmet commented on #73
The failed tests didn't occur on Travis. The repo is now migrated to travis-ci.com (rather than org) and the build is successfull: https://travis-ci.com/inbo/inborutils/builds/149329972

[2020-02-17 19:30] #73 closed

[2020-02-17 19:39] damianooldoni commented on #73
Nice to hear that. :tada:
By the way, it is still strange you get those errors locally. I have just run `devtools::check()` on the new master and I got this:
![image](https://user-images.githubusercontent.com/33662631/74681970-04410a80-51c5-11ea-811a-d4ff95bbbfef.png)

Maybe a problem of outdated packages? Maybe worth for a new issue. Just let me know if problem persists. Include in case the resul

[2020-02-18 06:34] hansvancalster commented on #73
Thank you both for fixing this :+1:

[2020-02-18 11:16] peterdesmet opened #74 "4 test fail locally"
Discovered as part of https://github.com/inbo/inborutils/issues/73#issuecomment-587130794:

[code]

<details>
<summary><code>devtools::session_info()</code></summary>

[code]
</details>

[2020-02-25 12:55] hansvancalster commented on #14
This issue can be closed as it is addressed in [the contributing guidelines](https://inbo.github.io/inborutils/CONTRIBUTING.html)

[2020-02-25 12:55] #14 closed

[2020-03-04 12:34] hansvancalster opened #78 "allow multiple survey names in inboveg_classification"
@ToonHub noticed that the help file of the function `inboveg_classification()` mentions that multiple surveys can be given, but this is currently not possible.  To do: adjust function to allow this in a similar way as has been done in `inboveg_header()`

[2020-04-02 12:19] niconoe commented on #74
I can confirm the issue on my machine, the error messages seems a bit more complete, so I include them below:

[code]

[2020-04-02 12:31] damianooldoni opened #79 "Uncorrect download_zenodo log"
The log I get from `download_zenodo()` is not correct as you can see from screenshot here below:

![image](https://user-images.githubusercontent.com/33662631/78249219-48c30400-74ee-11ea-934c-6b3508a3b2f5.png)

Anybody who has time to find the bug and solve it, is welcome!
Please, noet that files are all and correctly download. Just the log is not correct.

[2020-04-02 12:33] damianooldoni commented on #74
I will give a look. Thanks for reporting and reminding me.

[2020-04-02 12:59] florisvdh commented on #79
Thanks @damianooldoni !

@hansvancalster recently also [mentioned](https://github.com/inbo/n2khab/pull/29#pullrequestreview-385329319) something like that. The '0 bytes' output comes from `curl::curl_download()`, so I guess either something changed in Zenodo metadata structure or in `curl`. I'll have a look if we can solve it here.

Nice to know that it still works though!

From your output, I gue

[2020-04-02 13:28] florisvdh commented on #79
Hmm, can't reproduce that (in Linux). On second thought, those '0 bytes' won't have to do with changes in Zenodo metadata, this part is entirely created by `curl::curl_download()`. @damianooldoni @hansvancalster  can you install latest master of `inborutils` (`0.1.0.9072`) and try again?

[code]

BTW for multiple large files, you could use `parallel = TRUE`. (but that doesn't show `curl_download()

[2020-04-02 13:52] florisvdh commented on #79
I bet your problem will persist after upgrading `inborutils`.

@damianooldoni can you provide your output of:

[code]

[2020-04-02 16:37] damianooldoni commented on #79
I updated `inborutils`, but indeed it didn't solved the problem.
@florisvdh, this is the output I get:
[code]

[2020-04-02 19:23] florisvdh commented on #79
OK thank you @damianooldoni . The simple part:

[code]

... demonstrates that the problem is with `curl::curl_download()` or further upstream (it calls
the `curl` tool which uses `libcurl`). The latest CRAN-release of the `curl` package dates from 2 Dec 2019. Maybe something changed there for Windows users, potentially because of an update in the `curl` tool or in `libcurl` (see [curl/curl](https:

[2020-04-02 19:26] florisvdh commented on #79
Considering this is an upstream bug which does not harm core functionality, I think it's best to close the issue here.

[2020-04-02 19:26] #79 closed

[2020-04-10 06:58] florisvdh commented on #74
This may have to do with current migrations in `sf`, `sp` and `rgdal`, in response to upcoming `PROJ` and `GDAL` upgrades (https://gdalbarn.com/).

Learn more about it in:

- https://www.r-spatial.org/r/2020/03/17/wkt.html
- http://rgdal.r-forge.r-project.org/articles/PROJ6_GDAL3.html

In the case of this reprojecting function, maybe you can take advantage of Michael Summer's [reproj](https://gith

[2020-05-19 13:07] damianooldoni commented on #74
Actually I found the source of all the problems.
The function does NOT return a data.frame but a "special" df.
[code]

If input is of class `data.frame` then it's fine. The problem is when input is a tibble data.frame. Then `spec_tbl_df` occurs in the output.

This is wrong. The output should be a data.frame as the input. I will solve this in this PR.

[2020-05-19 14:07] ThierryO commented on #74
That _is_ a `data.frame` in the sense that it inherits a `data.frame`. Check `inherits(data_out_sp_sf, "data.frame")`, it should be `TRUE`.

[2020-05-19 14:09] damianooldoni commented on #74
Yes, @ThierryO , thanks.

From readr documentation:

[2020-05-19 14:14] damianooldoni commented on #74
@niconoe , I think I found it. It should be
[code]
as `st_coordinates` returns matrices.

I will check further.

[2020-05-25 12:56] hansvancalster commented on #71
See eblondel/zen4R#31

[2020-06-04 13:59] florisvdh opened #84 "convertdf_enc(): also convert column name encoding"
Thanks @ToonHub @hansvancalster for pointing at that.

`iconv()` can be applied to column names as well. Perhaps make it optional.

[2020-06-08 14:11] florisvdh opened #87 "Testing: package build fails because building vignette 'gbif_name_match' fails"
Testing fails ([example](https://travis-ci.com/github/inbo/inborutils/builds/169802065#L1844)) because of:

[code]

@damianooldoni can you have a look at this, I think you co-authored the vignette.

[2020-06-10 13:52] niconoe commented on #87
Yep, struggled with that too, and I just realised it seems to depend on `dplyr` version (works with 0.8.5, fails with 1.0.0).

I suspect this has something to do with a `bind_cols()` call from `gbif_species_name_match.R`. The `dplyr` changelog mentions: `bind_cols() no longer converts to a tibble, returns a data frame if the input is a data frame.`

[2020-06-10 14:12] niconoe opened #88 "Require specific versions of packages we depend on?"
Hi,

I might be wrong because I'm still not familiar with the "R culture", but I was a bit surprised that the package regularly breaks (#74, #87, ...) because some dependency has changed its interface.

I was therefore wondering if it wouldn't a good practice to:

- require specific versions in `DESCRIPTION`: for example explicitly requiring `dplyr` version 0.8.5 would have avoided issue #87.
- (s

[2020-06-10 14:34] ThierryO commented on #88
First of all, try to avoid dependencies. Note that you can also list packages under 'Suggests:` instead of `Imports:` when you only need it for a couple functions. [Here](https://cran.r-project.org/doc/manuals/R-exts.html#Suggested-packages) is how to do that. The user don't need to install every dependency, only those mentioned in `Depends` and `Imports`.

Restricting a package to older versions

[2020-06-12 13:32] niconoe commented on #88
Perfect, thanks!

[2020-06-12 13:32] #88 closed

[2020-07-02 08:01] #84 closed

[2020-08-05 07:57] damianooldoni commented on #87
By mistake I committed to master directly, a no go, I know! I am sorry about it.

[2020-08-05 08:00] damianooldoni commented on #87
Commit reverted immediately.

[2020-08-05 08:11] damianooldoni opened #89 "Travis CI error: compilation failed for package ‘rgdal’"
After reverting the one line commit I erroneously pushed to master, Travis CI fails to build `inborutils` due to compilation failure: compilation failed for package ‘rgdal’. Build: https://travis-ci.com/github/inbo/inborutils
Any idea?
By the way, I was constantly experiencing this failure compiling `rgdal` even yesterday while working on branch [setup_codingclub_session](https://github.com/inbo/i

[2020-08-05 08:37] damianooldoni commented on #89
Maybe it is something related to the latest Ubuntu, Xenial: see https://github.com/travis-ci/travis-ci/issues/5821

[2020-08-05 08:44] damianooldoni commented on #89
After some more research, I found some more recent issues specifically gdal related:

https://github.com/travis-ci/travis-ci/issues/5852 and https://github.com/nwfsc-assess/geostatistical_delta-GLMM/issues/38#issuecomment-377331081
Following the link to [solving commit](https://github.com/nwfsc-assess/geostatistical_delta-GLMM/commit/f988eb610b8448263ffdd8df14fd48700c4e1a52) in the second issue, I

[2020-08-05 09:21] damianooldoni commented on #89
It seems it doesn't solve the problem. Here the link to the Travis's failed build:
https://travis-ci.com/github/inbo/inborutils/jobs/368568380

[2020-08-05 11:04] YuriNiella commented on #89
I'm having the same issue on my package with rgdal. The following solution does not seem to work either:
[code]

[2020-08-05 12:23] YuriNiella commented on #89
The following solution does not work either for me:

[code]

In my case, it seems like rgdal is being only successfully installed only on windows, but failing in mac and linux:

[code]

[2020-08-05 12:30] damianooldoni commented on #89
Thanks @YuriNiella for your input. @florisvdh, I know you are a fervent Linux user, how do you get `rgdal` installed on your laptop? Probably an older Ubuntu version?

[2020-08-10 11:47] florisvdh commented on #89
Sorry, I overlooked your question @damianooldoni . I'll try to have a further look at the problem this week. Meanwhile: perhaps something similar as explained in https://github.com/inbo/inborutils/pull/81#issuecomment-620709805?

In response to your question: `rgdal` for Linux does not have gdal included; it binds to the gdal library which must first be present on the system. The latter is done by

[2020-08-12 07:26] ThierryO commented on #89
This is how I install rgdal in the Rstable docker image: https://github.com/inbo/Rstable/blob/6ac49b53d3d0b2422caa3598d4699cfaf621d881/Dockerfile#L275
The `cran_install` is a bash script to install a specific version of a package. You can use `install.packages("rgdal")` instead.

[2020-08-14 18:16] florisvdh commented on #89
@damianooldoni the cause is a CRAN version of `rgdal` which erroneously did not build against older versions of GDAL/PROJ; see [this](https://www.mail-archive.com/r-sig-geo@r-project.org/msg18071.html) post of R. Bivand. However in the meantime this has been solved in the current CRAN version; just re-running the Travis build should succeed - see the successful Travis [builds](https://travis-ci.co

[2020-08-15 19:19] damianooldoni commented on #89
Thanks @ThierryO  and @florisvdh for your inputs. Indeed, I can confirm that the problem has been solved on my branch as on master as reported by @florisvdh. I think we can close this issue. Discussion can be continued, if needed on PR #90.

[2020-08-15 19:19] #89 closed

[2020-08-20 15:03] damianooldoni commented on #74
@peterdesmet , I think this issue can be closed (see merged PR #82). Do you still encounter problems with those tests?

[2020-08-20 17:56] peterdesmet commented on #74
Yes, I now only get 3 warning if I run `devtools::test()`

[2020-08-20 17:56] #74 closed

[2020-08-21 07:38] #87 closed

[2020-08-21 07:42] ThierryO commented on #87
@damianooldoni I've uped the protection on the master branch, so you shouldn't be able to commit to origin/master anymore.

[2021-03-04 07:46] hansvancalster commented on #19
I think the questions raised in this issue have been partly addressed in the issue thread and in the tutorials repo.

See https://inbo.github.io/tutorials/tutorials/spatial_wfs_services/ for ways to interact with WFS services and https://inbo.github.io/tutorials/tutorials/spatial_point_in_polygon/ for an example of occurrence data and square grid cells.

@peterdesmet is this issue still something

[2021-03-04 07:48] hansvancalster commented on #34
Something to discuss with @inbo/bmk

[2021-03-04 07:50] hansvancalster commented on #41
Something to discuss with @inbo/bmk

[2021-03-04 08:17] hansvancalster commented on #42
I checked with the latest version of `inborutils` and the bug is not solved. Something to discuss with @inbo/bmk.

[2021-03-04 08:18] hansvancalster commented on #51
Still to do. Maybe something we can do with @inbo/bmk if I have not done it before.

[2021-03-04 08:28] hansvancalster commented on #71
The function is now (also) part of the `zen4R` package. See  https://cran.r-project.org/web/packages/zen4R/zen4R.pdf and search for `download_zenodo`. This issue can be closed. Thanks for asking @damianooldoni 👍

[2021-03-04 08:28] #71 closed

[2021-03-04 08:33] florisvdh commented on #71
Just note that both functions are fundamentally different. If I remember correctly the `zen4R` function is a complete rewrite that sends a request to the Zenodo API.

[2021-03-04 08:35] peterdesmet commented on #19
No, the fact that there is a tutorial is great!

[2021-03-04 08:35] #19 closed

[2021-03-05 13:39] damianooldoni opened #98 "Add GitHub action to run tests automatically"
I would like to add a GitHub action to run all tests automatically. It's easy and it will notify us of problems as the one noticed by @hansvancalster in https://github.com/inbo/inborutils/pull/96#issuecomment-791246673. I cannot reproduce it as I don't get any problem with Windows 7. However, if I had that action running I could detect the issue while writing the tests.
What does @inbo/bmk think a

[2021-03-05 15:36] damianooldoni commented on #98
I would also add the `pkgown.yaml` workflow that create the site automatically.

In this way all things Travis CI was doing are replaced and we don't have to get troubles like mentioned now like negative credit balance, see https://travis-ci.com/github/inbo/inborutilsproblems
The same for appveyour: I would remove it.

But I would like to have an official  YES by @hansvancalster and @inbo/bmk befo

[2021-03-05 15:41] ElsLommelen commented on #98
Maybe you could just use [the function setup_package() from the checklist package](https://packages.inbo.be/checklist/reference/setup_package.html) and install all necessary tools at once?  ;-)

[2021-03-05 15:44] hansvancalster commented on #98
@damianooldoni go ahead with this. I am all in favour.

[2021-03-05 15:57] ElsLommelen commented on #98
I am in favour of replacing Travis and Appveyor with Github actions, as long as you add a windows machine to replace the Appveyor testing.  ;-)

[2021-03-05 16:00] ThierryO commented on #98
As @ElsLommelen already pointed out, you can set it up using the checklist package. Note that is enforces a more strict standard than just R CMD check --as-cran. You can run [checkllist::check_package()](https://packages.inbo.be/checklist/reference/check_package.html) to see all checks and remarks it makes about inborutils. [checklist::setup_package()](https://packages.inbo.be/checklist/reference/

[2021-03-05 16:02] ThierryO commented on #98
@ElsLommelen testing on windows: [check](https://github.com/inbo/checklist/blob/2030bdd096122d5a6330421037d72beac2251005/inst/package_template/check_on_different_r_os.yml#L22).

[2021-03-05 16:05] ElsLommelen commented on #98
@ThierryO Yes, I know, my remark was just in case checklist is not used.  ;-)

[2021-03-05 16:08] damianooldoni commented on #98
Nice! I am running and reading about `checklist`. very interesting. Nice tool, @ThierryO!

@ElsLommelen: I will try to use checklist package, sure. In any case, the nice stuff of standard Github action check is that it runs on latest Windows, Mac OS and Linux (Ubuntu)!

[2021-03-05 16:11] ElsLommelen commented on #98
@damianooldoni And it really adds all stuff one needs for a package (if still lacking): news file, license,...  Very easy!  (As long as you use the INBO standard. ;-) )

[2021-03-05 16:15] damianooldoni commented on #98
Yes, I see it and I love the idea. However, things done by checklist are really broader than the scope of this issue and the related branch/PR (still to write).
I think we can do all of this in a next step. I just wanted to free @hansvancalster from Travis CI which doesn't allow him to merge and do it fast.

[2021-03-05 16:20] damianooldoni opened #100 "Improve package by using checklist"
As pointed out by @ElsLommelen and @ThierryO in https://github.com/inbo/inborutils/issues/98#issuecomment-791511782, we could really get a lot of benefits by using `checklist` package.

[2021-03-08 10:03] hansvancalster opened #103 "problem with encoding in result of `read_mow_data()`"
Running the example for `read_mow_data()` from the vignette suggests encoding problems:

![image](https://user-images.githubusercontent.com/18713718/110305716-4968f200-7ffd-11eb-9e14-1a34a723c786.png)

Maybe something to discuss with @inbo/bmk

_Originally posted by @hansvancalster in https://github.com/inbo/inborutils/issues/102#issuecomment-792637091_

[2021-03-08 10:22] damianooldoni opened #104 "Imported but not used functions in read_mow_data()"
The functions `mutate_` and `select_` are not used in `read_mow_data().R`. I am removing them from the imported functions.

[2021-03-08 10:30] #98 closed

[2021-03-08 10:55] damianooldoni opened #106 "Add unit-tests"
Continuous integration is powerful. It would be even more powerful if we have tests for our functions. I try to do it immediately while writing the function itself or immediately after before starting a PR. In this way, we are more confident nothing breaks. I don't want to force all of us to write tests for the past as it will take a lot of time. My proposal is the following;

Do you write a new f

[2021-03-08 11:00] #104 closed

[2021-03-08 11:05] ElsLommelen commented on #103
Looks like an encoding problem.  Some possible solutions:
- I haven't looked at it into detail, but maybe this `ISO-8859-15` is not the right one to use in a Windows environment?  `?file` gives an elaborate explanation on encodings in different OS, maybe this helps?
- Does this encoding problem show up in all output, or only in this table?  (Some characters are not displayed correctly in R, but th

[2021-03-08 11:21] damianooldoni opened #107 "variables defined within condition statements, but used globally"
In [`read_mow_data()#L34-L43`](https://github.com/inbo/inborutils/blob/master/R/read_mow_data.R#L34-L43) there are some variables defined in a double conditional statement  (`while` and `if`).

However, they are used out of these conditional statements, see [L65](https://github.com/inbo/inborutils/blob/master/R/read_mow_data.R#L65), [L90-94](https://github.com/inbo/inborutils/blob/master/R/read_mo

[2021-03-09 14:06] leandrohbarbieri opened #108 "download_knmi_data_hour {inborutils} not downloading weather data"
After requesting a download for weather data I receive this .txt:

(from the example:
download_knmi_data_uur(c(310, 319), "PRCP", "2011-01-01", "2012-02-17",output_file = "knmi_output_download.txt")
which btw has to be changed from uur to hour)

<!DOCTYPE html>

  <html class="no-js" lang="nl">

<head>
  <meta charset="utf-8" />
  <title>KNMI - Klimatologie</title>
  <meta name="description" conte

[2021-03-09 17:33] hansvancalster commented on #108
Thanks for reporting! Looks like a bug. We will investigate the problem. Running the example returns an error in `curl::curl_fetch_memory()`

[code]

<sup>Created on 2021-03-09 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

<details style="margin-bottom:10px;">

<summary>Session info</summary>

[code]

</details>

[2021-03-09 17:48] hansvancalster commented on #108
https://www.knmi.nl/kennis-en-datacentrum/achtergrond/data-ophalen-vanuit-een-script

The service appears to be down:
![image](https://user-images.githubusercontent.com/18713718/110514775-efa11e80-8107-11eb-8ccf-39c06fc98724.png)

[2021-04-01 15:00] ElsLommelen commented on #42
The problem seems to appear because of the use of `cols_only()`: it messes up the data: it only saves the given column names but it somehow partly picks the wrong data.  Just replace `cols_only()` by `cols()`, and your code works fine.  In this case it saves the whole table including the columns that are not declared directly.  (`cols_only()` can work fine as well, as long as you add all columns.

[2021-04-06 07:47] hansvancalster commented on #51
closed #109

[2021-04-06 07:47] #51 closed

[2021-04-06 07:48] hansvancalster commented on #34
closed #109

[2021-04-06 07:48] #34 closed

[2021-04-12 11:26] #42 closed

[2021-05-04 19:41] damianooldoni opened #111 "data and source scripts not found by some participants of coding club"
It seems some participants of April edition of the coding club couldn't download data directly from GitHub using our setup_coding_club_session() function. Something to investigate.

[2021-06-21 14:39] #111 closed

[2022-05-05 16:48] lkwhite opened #116 "csv_to_sqlite throws error: `col_names` must be TRUE, FALSE or a character vector"
First time using this package, I come from a dplyr background but not a SQL one, which may mean I'm missing something obvious with this error.

Here's the entirety of what I'm trying to run to load a tab separated file into a database. The first row of my file does include column names, but if I add col_names = T into the csv_to_sqlite call, I then get error: `formal argument "col_names" matched b

[2022-05-05 17:40] hansvancalster commented on #116
Hi Laura, thanks for reporting. I think I might have addressed a similar issue in https://github.com/inbo/inborutils/pull/115. Can you try if `remotes::install_github("inbo/inborutils@sp-to-sf")` solves your issue?

[2022-05-05 17:44] lkwhite commented on #116
Fantastic, that did the trick. Thanks for the quick response!

[2022-05-05 17:44] #116 closed

[2022-08-29 14:28] #108 closed

[2022-09-26 19:29] sghignone commented on #116
Hi guys...I'm facing a similar issue with current v0.2.1.
The issue appears both if I call col_names = FALSE or col_names = paste0("X", 1:12) , when I try to load a 12 columns tab separated file, large around a Gb...
Here follows the case with cal_names = FALSE:
![image](https://user-images.githubusercontent.com/7242651/192363080-9bc89567-12ac-40c7-9cf7-a0cb38b38611.png)

I already tried the trick

[2022-09-28 08:43] hansvancalster commented on #116
Thanks for reporting! This is because `inborutils::csv_to_sqlite()` already uses `col_names` and `n_max` in the body of the function.

The issue with `col_names` you bring up, is a use case (a csv file with no column names) we hadn't yet covered. It should be fixed by d0a681860e3bd13284989400ab46324d1e8bd6a8 which is in the next version of the package. You can already try out by installing the `v0

[2022-09-28 12:48] sghignone commented on #116
Thanks Hans! the new version worked fine with my data.

Thanks Hans! the new version worked fine with my data.  Nevertheless, I'd like to let you know that the new version does not compile correctly on windows (same error with remote:: or devtools::):
` [...]
\* installing *source* package 'inborutils' ...
** using staged installation
** R
Error in parse(outFile) :
  C:/Users/*****/AppData/Local/T

[2022-09-28 12:59] hansvancalster commented on #116
Nice to know it worked for your data!
The installer seems to trip over the `|>` pipe operator, which I used in one of the functions. You probably have an R version < 4.1.0, because the native pipe operator was introduced from that version onward. If so, I expect the package will compile after you update your R version. After an update of R, it is also recommended to update your packages using `upd

[2022-09-28 13:01] sghignone commented on #116
yah I realized exactly I'm running an old R version. My bad...

[2022-11-23 22:09] damianooldoni opened #120 "Function `gbif_species_name_match` unnecessary"
[gbif_species_name_match](https://inbo.github.io/inborutils/reference/gbif_species_name_match.html) is not needed anymore as rgbif provides this functionality via `[name_backbone_checklist](https://docs.ropensci.org/rgbif/reference/name_backbone_checklist.html)`.
Worth to test this and in case we are 100% sure, it is maybe worth to first deprecate the function for a while before removing it.

[2022-11-24 07:31] peterdesmet commented on #120
I support deprecation. Might be good to provide an example of how to adapt current workflows that rely on the function.

[2022-11-24 08:24] damianooldoni commented on #120
Yes! Good idea. Planning to update the tutorial about GBIF match as well.